worker_processes 1;

events {
    worker_connections 1024;
}

http {

    # ---------- Upstreams ----------
    upstream api_upstream { server ${API_INTERNAL}:8080; }
    upstream pdf_upstream { server ${PDF_INTERNAL}:8004; }
    upstream ocr_upstream { server ${OCR_INTERNAL}:8001; }
    upstream enhance_upstream { server ${ENHANCE_INTERNAL}:8003; }
    upstream bg_remove_upstream { server ${BG_REMOVE_INTERNAL}:8002; }

    server {
        listen 80;

        # ---------- Root ----------
        location / {
            return 200 "OK";
        }

        # ---------- API ----------
        location /api/ {
            proxy_pass http://api_upstream;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        # ---------- PDF ----------
        location /pdf-service/ {
            proxy_pass http://pdf_upstream;
        }

        location /ocr-service/ {
            proxy_pass http://ocr_upstream;
        }

        location /enhance-service/ {
            proxy_pass http://enhance_upstream;
        }

        location /bg-remove-service/ {
            proxy_pass http://bg_remove_upstream;
        }
    }
}
